.syslog_sheet .to_select span { padding:5px 35px 6px 20px; }
.syslog_sheet .inputSearch { border-bottom-width:1px; border-bottom-color:#090909; }
.syslog_sheet .button { padding:5px 20px 5px 20px; border-bottom-width:1px; border-bottom-color:#090909; }