@charset "utf-8";


.syslog { width:980px; margin:0 auto; }

.syslog caption{ font-size:11px; font-family:Tahoma; color:#888; text-align:left; }

.syslog .table { border:0; border-top:2px solid #cfcfcf; margin:0 0 20px 0; padding:0; width:100%; }
.syslog .table th div { white-space:nowrap; }
.syslog .table tr.bg0{ background:#fff;}
.syslog .table tr.bg1{ background:#f8f8f8;}
.syslog .table th,
.syslog .table td{ border:0; padding:5px 10px; text-align:left; vertical-align:top;}
.syslog .table th{ background:#f4f4f4;}
.syslog .table tbody th{ border-bottom:1px solid #e5e5e5;}
.syslog .table td{ border-bottom:1px solid #f0f0f0;}


/* Pagination Reset */
.syslog .pagination { padding:15px 0; margin:0; text-align:center; clear:both; }
.syslog .pagination *{ margin:0; padding:0;}
.syslog .pagination img{ border:0;}
.syslog .pagination a,
.syslog .pagination strong{ position:relative; display:inline-block; text-decoration:none; line-height:normal; color:#333; font-family:Tahoma, Sans-serif; vertical-align:middle;}
.syslog .pagination a:hover,
.syslog .pagination a:active,
.syslog .pagination a:focus{ background-color:#f4f4f4 !important; }
.syslog .pagination strong{ color:#ff6600 !important;}
.syslog .pagination a.prev,
.syslog .pagination a.prevEnd,
.syslog .pagination a.next,
.syslog .pagination a.nextEnd{ font-weight:normal !important; border:none !important; margin:0 !important; white-space:nowrap; }

/* Pagination A1 */
.syslog .pagination.a1 a,
.syslog .pagination.a1 strong{ margin:0 -4px; padding:1px 10px 1px 8px; border:none; border-left:1px solid #ccc; border-right:1px solid #ddd; font-weight:bold; font-size:12px; background:#fff;}
.syslog .pagination.a1 a.prev{ padding-left:10px; background:#fff url(../img/arrowPrevA1.gif) no-repeat left center; }
.syslog .pagination.a1 a.prevEnd{ padding-left:15px; background:#fff url(../img/arrowPrevEndA1.gif) no-repeat left center; }
.syslog .pagination.a1 a.next{ padding-right:10px; background:#fff url(../img/arrowNextA1.gif) no-repeat right center; }
.syslog .pagination.a1 a.nextEnd{ padding-right:15px; background:#fff url(../img/arrowNextEndA1.gif) no-repeat right center; }
 